h1, .center {
    text-align: center;
}

body{
    font-family: 'Noto Sans JP', "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
    color: #292929;
    background-color: #fffafa;
}


table{
    border-collapse: collapse;
    background-color: white;
}
.intro{
    border: 1px solid black;
    background-color: white;
}

th, td {
    border: 1px solid black; 
    padding: 8px;
}
th{
    background-color: #99ffff;
}

.link, .cols{
    text-align: center;
    font-weight: normal;
}

.title{
    font-size: 17px;
    font-weight: bold;
    background-color: #ccffff;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}

.table-container, .intro-container, .footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chapter{
    width: 35%;
}

.section{
    width: 40%;
}

.header {
    background-color: #f8f8ff;
    text-align: center; 
}
  
.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.header ul li {
    flex-basis: 33.33%;
    text-align: center;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.header ul li:first-child {
    border-left: 1px solid #ddd;
}

.header ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.footer{
    background-color: white;
    font-size: 10px;
}

.right{
    text-align: right;
}


/*スマートフォン向け*/
@media (max-width: 480px){
    .header ul{
        width: 98%;
        height: 50px;
    }
    .intro, .footer-content{
        font-size: 10px;
        width: 85%;
        margin-bottom: 4%;
        padding: 2%;
    }

    table{
        width: 94%;
    }
    td{
        font-size: 9px;
    }
}

/*タブレット向け*/
@media (min-width: 481px) and (max-width: 768px){
    .header ul{
        width: 78%;
        height: 60px;
    }
    .intro, .footer-content{
        font-size: 13px;
        width: 78%;
        margin-bottom: 5%;
        padding: 2%;
    }
    table{
        width: 92%;
    }
    td{
        font-size: 12px;
    }
}

/*デスクトップ向け*/
@media (min-width: 769px){
    .header ul{
        width: 500px;
        height: 60px;
    }
    .intro, .footer-content{
        font-size: 15px;
        width: 550px;
        margin-bottom: 10px;
        padding: 2%;
    }
    table{
        width: 650px;
    }
    td{
        font-size: 14px;
    }

}

